<nav>
    <hr>
    <a routerLink="/ejemplo0">Ejemplo0 </a>
    <a routerLink="/ejemplo01">Ejemplo01 </a>
    <a routerLink="/ejemplo02">Ejemplo02 </a>
    <a routerLink="/ejemplo03">Ejemplo03 </a>
    <a routerLink="/ejemplo3b">Ejemplo3b </a>
    <a routerLink="/ejemplo04">Ejemplo04 </a>
    <a routerLink="/ejemplo4b">Ejemplo4b </a>
    <a routerLink="/ejemplo05">Ejemplo05 </a>
    <a routerLink="/ejemplo06">Ejemplo06 </a>
    <a routerLink="/ejemplo07">Ejemplo07 </a>
    <a routerLink="/ejemplo08">Ejemplo08 </a>
    <a routerLink="/ejemplo09">Ejemplo09 </a>
    <a routerLink="/ejemplo10">Ejemplo10 </a>
    <a routerLink="/ejemplo11">Ejemplo11 </a>
    <a routerLink="/ejemplo12">Ejemplo12 </a>
    <a routerLink="/ejemplo13">Ejemplo13 </a>
    <a routerLink="/ejemplo14">Ejemplo14 </a>
    <a routerLink="/ejemplo14b">Ejemplo14b </a>
    <a routerLink="/ejemplo15">Ejemplo15 </a>

    <hr>

    <a routerLink="/ejemplo16">Ejemplo16 </a>
    <a routerLink="/ejemplo17/3">Ejemplo17 </a>
    <a routerLink="/ejemplo18">Ejemplo18 </a>
    <a routerLink="/ejemplo19">Ejemplo19 </a>
    <a routerLink="/ejemplo20a">Ejemplo20a </a>
    <a routerLink="/ejemplo20b">Ejemplo20b </a>
    <a routerLink="/ejemplo20c">Ejemplo20c </a>
    <a routerLink="/ejemplo20d">Ejemplo20d </a>
    <a routerLink="/ejemplo20e">Ejemplo20e </a>
    <a routerLink="/ejemplo20f">Ejemplo20f </a>


    <hr>

    <a routerLink="/ejercicio01">Ejercicio01 </a>
    <a routerLink="/ejercicio02">Ejercicio02 </a>

    <hr>
</nav>